<div class="trasnferencias">

    <div class="card card-nueva" routerLink="/pages/nueva-transferencias">
        <p>Nueva transferencia</p>
        <img src="https://img.freepik.com/foto-gratis/cartera-ilustracion-3d-monedas-tarjetas-credito_107791-16572.jpg?w=900&t=st=1688659134~exp=1688659734~hmac=c20391fde2d3870e64f6f2917c821e7800e7230a913b6bd7955608545bca4cc5" alt="">

    </div>


    <div class="card card-enviadas" routerLink="/pages/transferencias-enviadas">
        <p>Transferencias enviadas</p>
        <img src="https://img.freepik.com/foto-gratis/3d-renderizar-transferencia-dinero-banca-movil-linea_107791-16729.jpg?w=900&t=st=1688659641~exp=1688660241~hmac=ca9f2c1b97408f60a4131973c797012ae968d30a84ecdfcd176addcfb0872b37" alt="">
    </div>

    <div class="card card-recibidas" routerLink="/pages/transferencias-recibidas">
        <p>Transferencias recibidas</p>
        <img src="https://img.freepik.com/foto-gratis/mano-3d-factura-confirmacion-pago-seguro_107791-16702.jpg?w=900&t=st=1688659535~exp=1688660135~hmac=94292a4e4bdc1d5c3b6b1ae82627d8c05317b2b88d05def17fadd83dade57d66" alt="">
    </div>

</div>